.buffering {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buffering .icon {
  width: 60px;
  height: 60px;
}

.icon svg {
  width: 100%;
  height: 100%;
}
