.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.controls button {
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  width: 22px;
  padding: 0;
}

button svg {
  width: 100%;
  height: 100%;
}
