.volume {
  position: relative;
  width: 100px;
}

.volume .bar {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 30px;
  height: 5px;
  width: 70px;
  cursor: pointer;
  background-color: rgb(176, 176, 176);
}

.volume .bar .level {
  position: absolute;
  z-index: 2;
  background-color: rgb(30, 20, 206);
  height: 5px;
  bottom: 0;
  left: 0;
}
